[Desktop Entry]
Type=Application
Icon=/etc/clepnid/src/imagenes/clipboard.gif
Hidden=false
Exec=/etc/clepnid/ejecutar.sh
Path=/etc/clepnid
Name=Clepnid
Name[es_ES]=Clepnid
Categories=Utility
Comment=Copy and paste between computers
comment[es_ES]=Copiar y pegar entre equipos
StartupWMClass=SWT
Terminal=false
Keywords=portapapeles;clipboard;copiar;pegar;compartir;texto;imagen;ficheros
